<h1>Add a Review</h1>

<%= simple_form_for(@restaurant, @review) do |form| %>
  <div>
    <%= f.label :content %><br>
    <%= f.text_field :content %><br>
  </div>

  <div>
    <%= f.label :rating %><br>
    <%= f.number_field :rating %><br>
  </div>

  <div><br>
    <%= f.submit "Submit review" %><br>
  </div>

<% end %>
